.burger-footer {
    margin-top: 130px;
    width: auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    
}

.burger-footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 168px;

}

.burger-footer__item--call {
    width: 40px;
    height: 40px;
    background: url(../images/call.svg) no-repeat;
}

.burger-footer__item--chat {
    width: 40px;
    height: 40px;
    background: url(../images/chat.svg) no-repeat;
}

.burger-footer__item--profile {
    width: 40px;
    height: 40px;
    background: url(../images/profile.svg) no-repeat;
}

.burger-footer__contact {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    cursor: default;
}

.burger-footer__mail {
    color: #1B1C21;
    line-height: 24px;
}
.burger-footer__number{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.burger-footer__lang {
    margin-top: 40px;
}
.burger-footer__langs {
    cursor: pointer;
}
.burger-footer__lang span:first-child {
    color: #7E7E82;
}

.burger-footer__items:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
    transition-timing-function: linear;
    opacity: 0.5;
}