body {
    margin: 0px;
    background-color: #F8F8F8;
    min-width: 300px;
    max-width: 1921px;
    font-family: 'TTLakes-Regular';
}
.main {
    display: flex;
    flex-direction: column;
}
.main__h1 {
    font-family: 'TTLakes-Bold';
    font-size: 28px;
    margin-left: 16px;
    cursor: default;
}
.main__h1::before {
    content: url("../images/highlight.svg");
    position: absolute;
    margin-left: -16px;
    margin-top: -2px;
}


/*-------------------------------------------------Скролл меню-------------------------------------------------*/
.main__ul {
    overflow: auto;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: baseline;
    padding: 0px 0px 0px 16px;
}
.main__li:first-child {

    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.main__li {
    font-size: 16px;
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}



/*-------------------------------------------------Главная секция-------------------------------------------------*/
.main__img  {
    margin-top: 15px;
    width: 319px;
    height: 200px;
}

.main__about {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}




/*-------------------------------------------------Читать далее-------------------------------------------------*/
.main__paragraph {
    margin-left: 16px;
    cursor: default;
}
.main__read-more {
    display: flex;
    flex-direction: column-reverse;
}
.main__label {
    margin-left: 48px;
    cursor: pointer;
}
.main__label::before {
    content: url("../images/labelicon.svg");
    position: absolute;
    margin-left: -16px;
}

.main__checkbox {
    display: none;
}

#main__checkbox:checked ~ .main__paragraph--hidden {
    display: none;
}



 @media (max-width: 1099px) {
    p {
        width: 312px;
    }
    .main__paragraph {
        margin-left: 24px;
    }
    .main__img {
        margin-right: 25px;
        width: 360px;
        height: 260px;
    }
    
}

@media (min-width: 1100px) {
    p{
        width: 490px;
    }
    .main__paragraph {
        margin-left: 35px;
    }
    .main__img {
        margin-right: 28px;
        width: 532px;
        height: 383px;
    }
    .main__nav {
        max-width: 1100px;
        margin: auto;
    } 
}  

@media (max-width: 767px) {
    p {
        width: 288px;
    }
    .main__paragraph {
        margin-left: 16px;
    }
    .main__img {
        max-width: 310px;
        max-height: 231px;
    }
    
}
