/*хэдер*/
@media (min-width: 1381px) {
    .header {
        display: none;
    }
    .main__h1 {
        display: none;
    }
   
}

@media (max-width: 550px) {
    .header__left-menu {
        margin-left: 16px;
    }
    .header__middle-menu {
        display: none;
    }
    .header__item--repair::before {
        display: none;
    }
    .header__item--checkstatus {
        margin-right: 0px;
    }
}

/*дэсктоп хэдер*/
@media (max-width: 1380px) {
    .desktop-header {
        display: none;
    }

}

@media (max-width: 1380px) {
    .desktop-burger-menu {
    display: none;
   }
    
} 
/*main*/
@media (max-width: 1099px) {
    p {
        width: 312px;
    }
    .main__paragraph {
        margin-left: 24px;
    }
    .main__img {
        margin-right: 25px;
        width: 360px;
        height: 260px;
    }
    
}

@media (min-width: 1000px) {
    p{
        width: 490px;
    }
    .main__paragraph {
        margin-left: 35px;
    }
    .main__img {
        margin-right: 28px;
        width: 532px;
        height: 383px;
    }
    .main__nav {
        max-width: 1100px;
        margin: 20px auto;
    } 
}  

@media (max-width: 767px) {
    p {
        width: 288px;
    }
    .main__paragraph {
        margin-left: 16px;
    }
    .main__img {
        max-width: 310px;
        max-height: 231px;
    }
    
} 

/*слайдер*/

@media (min-width: 400px) {
    .swiper {
        display: none;
    }
}
@media (max-width: 400px) {
    .slider-main,
    .tech-menu__content,
    .button-tech,
    .cost-menu__content,
    .show-more-wrapper {
        display: none;
    }
}
@media (max-width: 500px) {
    .cost-menu__info {
        font-size: 14px;
    }
}
 /* @media (max-width: 1100px) {
    .cost-menu__item,
    .tech-menu__content,
    .footer{
        width: 720px;
    }
    .slider-main {
        width: 800px;
    }
}  */
@media (max-width: 1099px) {
    .cost-menu__item {
        width: auto;
    }
    .main__ul {
        width: 600px;
    }
}

@media (max-width: 400px) {
    
    .main__ul {
        width: 320px;
    }
}

@media (max-width: 500px) {
    
    .footer__container {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer__items {
        font-size: 12px;
    }
    .modal-call__content,
    .modal-feedback__content {
        width: 300px;
    }
    .modal-call__form input,
    .modal-feedback__form,
    .modal-feedback__form input,
    .modal-feedback__form textarea{
        width: 260px;
    }
    .modal-call__form,
    .modal__text {
        width: 280px;
        height: auto;
    }
    .modal-call__close-button {
        transform: translate(115px, -295px);
    }
    .modal-feedback__close-button{
        transform: translate(95px, -580px)
    }
    
}


