.modal-feedback {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.507); 
}
.modal-feedback__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 440px;
    height: 100%;
    right: 0;
    background-color: #FFFFFF;
    z-index: 5;

}
.modal__paragraph {
    font-size: 24px;
    font-weight: 700;
    margin: 40px 32px;
    align-self: start;
    cursor: default;
}
.modal__paragraph::before{
    content: url("../images/highlight.svg");
    position: absolute;
    margin-left: -32px;
    margin-top: -2px;
}
.modal-feedback__form {
    margin-bottom: 16px;
}
.modal-feedback__form input{
    width: 376px;
    height: 48px;
    font-size: 16px;
}
.modal-feedback__form textarea{
    font-size: 18px;
    width: 376px;
    height: 118px;
    resize: none;
}
.modal__text {
    font-size: 14px;
    font-weight: 400;
    width: 376px;
    height: 48px;
    cursor: default;
}
.modal__text a {
    color: #FF3E79;
    cursor: pointer;
}
.modal__input-form{
    width: 136px;
    height: 32px;
    background: url('../images/Group11.svg') no-repeat;
    align-self: flex-end;
    margin: 20px 24px;
    cursor: pointer;
}
.modal-feedback__close-button {
    width: 40px;
    height: 40px;
    background: url('../images/close.svg') no-repeat;
    position: relative;
    transform: translate(-280px, -550px);
}
/*----------------------------------Call---------------------------------------------------*/
.modal-call {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.507);
}
.modal-call__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 440px;
    height: 100%;
    right: 0;
    background-color: #FFFFFF;
    z-index: 5;

}
.modal__paragraph {
    font-size: 24px;
    font-weight: 700;
    margin: 40px 32px;
    align-self: start;
    cursor: default;
}
.modal__paragraph::before{
    content: url("../images/highlight.svg");
    position: absolute;
    margin-left: -32px;
    margin-top: -2px;
}
.modal-call__form {
    margin-bottom: 16px;
}
.modal-call__form input{
    width: 376px;
    height: 48px;
    font-size: 16px;
}
.modal-call__form textarea{
    font-size: 18px;
    width: 376px;
    height: 118px;
    resize: none;
}
.modal__text {
    font-size: 14px;
    font-weight: 400;
    width: 376px;
    height: 48px;
    cursor: default;
}
.modal__text a {
    color: #FF3E79;
    cursor: pointer;
}
.modal__input-form{
    width: 136px;
    height: 32px;
    background: url('../images/Group11.svg') no-repeat;
    align-self: flex-end;
    margin: 20px 24px;
    cursor: pointer;
}
.modal-call__close-button {
    width: 40px;
    height: 40px;
    background: url('../images/close.svg') no-repeat;
    position: relative;
    transform: translate(-280px, -260px);
}
.feedback--hidden {
    display: none;
}
.feedback--showed {
    display: block;
}
.call--hidden {
    display: none;
}
.call--showed {
    display: block;
}