.slider-menu {
    margin-top: 30px;
    font-family: 'TTLakes-Regular';
    background-color: #F8F8F8;
}
.main-slider {
    max-width: 1120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.main-slider__slider-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 72px;
    min-width: 240px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background-color: #FFFFFF;
    margin: 12px;
}


.main-slider__logo--lenovo {
    width: 108px;
    height: 32px;
    background: url(../images/slider-menu/lenovo.png) no-repeat;
    margin-left: 16px;
}

.main-slider__logo--samsung {
    width: 116px;
    height: 39px;
    background: url(../images/slider-menu/samsung.png) no-repeat;
    margin-left: 16px;
}

.main-slider__logo--apple{
    width: 44px;
    height: 44px;
    background: url(../images/slider-menu/apple.png) no-repeat;
    margin-left: 16px;
}
.main-slider__logo--view-sonic{
    width: 128px;
    height: 26px;
    background: url(../images/slider-menu/viewsonic.png) no-repeat;
    margin-left: 16px;
}

.main-slider__logo--bosch {
    width: 128px;
    height: 29px;
    background: url(../images/slider-menu/bosch.png) no-repeat;
    margin-left: 16px;
}

.main-slider__logo--hp {
    width: 52px;
    height: 52px;
    background: url(../images/slider-menu/hp.png) no-repeat;
    margin-left: 10px;
}

.main-slider__logo--acer {
    width: 94px;
    height: 24px;
    background: url(../images/slider-menu/acer.png) no-repeat;
    margin-left: 16px;
}
.main-slider__logo--sony {
    width: 128px;
    height: 26px;
    background: url(../images/slider-menu/sony.png) no-repeat;
    margin-left: 16px;
}
.main-slider__icon {
    width: 40px;
    height: 40px;
    background: url(../images/slider-menu/go.svg) no-repeat;
    margin-right: 16px;
}

/*-------------------------------------------------скрытый слайдер-------------------------------------------------*/

.hidden-item{
    display: none;
}
.showed-item {
    display: flex;
}
.button {
    cursor: pointer;
    min-width: 100px;
    height: 30px;
    padding-left: 20px;
    color: black;
    text-decoration: none;
    margin-left: 23px;
}

.show-more{
    background-image: url("../images/labelicon.svg");
    background-repeat: no-repeat;
    background-position: 0px 6px;
}
.hide-more {
    background-image: url("../images/labeliconreverse.svg");
    background-repeat: no-repeat;
    background-position: 0px 6px;
}

.show-more-wrapper{
    max-width: 1120px;
    margin: auto;
}
/*-------------------------------------------------медиа-------------------------------------------------*/

@media (min-width: 400px) {
    .swiper {
        display: none;
    }
}

@media (max-width: 400px) {
    .main-slider,
    .show-more,
    .hidden-slider {
        display: none;
    }
}

@media (max-width: 850px) {
    .main-slider__slider-item {
        min-width: 224px;

    }
}

@media (min-width: 1121px) {
    .main-slider /* ,
    .hidden-slider */{ 
    margin: auto;
    }
}
