body {
    margin: 0;
    font-family: 'TTLakes-Regular';
    background-color: #F2F2F2;
}
.main-slider {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main-slider__slider-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 72px;
    min-width: 240px;
    border-radius: 6px;
    background-color: rgb(45, 255, 245);
    margin: 10px;
}


.main-slider__logo--lenovo {
    width: 108px;
    height: 32px;
    background: url(../images/slider-menu/lenovo.png) no-repeat;
}
.main-slider__icon {
    width: 40px;
    height: 40px;
    background: url(../images/slider-menu/go.svg) no-repeat;
    margin-right: 16px;
}