.tech-menu__header {
    margin-top: 36px;
    min-height: 56px;
    width: auto;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.tech-menu__wrapper {
    padding: 16px;
}
.tech-menu__paragraph {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
}
@media (min-width: 1121px) {
    .tech-menu__paragraph {
    position: relative;
    width: 350px;
    margin: auto;
    }
}
